*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.header__nom {
    width: 1160px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1;
    border-style: dotted;
    border-color: rgb(252, 7, 190); */
    background-color: #782221;
    color: white
}

.header__nom-img {
    width: 150px;
    /* border: 1;
    border-style: dotted;
    border-color: rgb(252, 7, 190); */
    border-radius: 999px;
    box-shadow: 5px 5px 10px black;
}

.header__nom-h1{
    padding: 10px;
}

.main {
    width: 100%;

}

.header__contact {
    padding: 20px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 1;
    border-style: dotted;
    border-color: rgb(252, 7, 190); */
    background-color: #2c1d27;
    color: white
}

.main {
    width: 1160px;
    min-height: 300px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* border: 1;
    border-style: dotted;
    border-color: rgb(252, 7, 190); */
    background-color: #782221;
    color: white
}

.sidebar {
    width: 30%;
    padding-top: 20px;
    padding-right: 20px;
}

.sidebar__section-h3 {
    background-color: #dbc2a4;
    color: black;
}

.sidebar__section-p {
    padding: 20px;
}
.sidebar__section-ul {
    padding: 20px 20px 20px 40px;
}

.content {
    width: 70%;
    padding: 20px;
    background-color: white;
    color: black;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: black;
    border: 1;
    border-style: dotted;
    border-color: rgb(252, 7, 190);
}

.content__article:hover{
    border-width: 0 6px 0 0;
    border-style: solid;
    border-color: #782221;
}

.content__section-h4 {
    font-weight: bold;
    padding-block: 10px;
}

.content__section-p {
    padding-block: 10px;
}

.content__section-ul {
    padding-block: 10px;
    padding-left: 20px;
}

.content__section-h3 {
    background-color: #dbc2a4;
    border-width: 0 0 0 6px;
    padding-left: 7px;
    border-style: solid;
    border-color: #782221;
}

.footer {
    width: 1160px;
    min-height: 50px;
    background-color: #782221;
    color: white;
    text-align: center;
    padding-block: 20px;

}

.footer__img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-block: 10px;
    margin-inline: 5px;
}